{
    admin :2019
    debug
}

:80 {
    handle /static/* {
        encode zstd
        file_server
    }

    handle_path /admin/* {
        reverse_proxy localhost:2019

        basic_auth {
            admin $2y$05$ojZk1Sjy/vL3Gcl7LlbfseO5HQOKXoT8CRrf4c9E29FhwXIqkcLby
        }
    }

    handle {
        reverse_proxy server:4000
    }
}